<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>aio_icons_pic</string>
		<key>title</key>
		<string>照片</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_red_pack</string>
		<key>title</key>
		<string>发红包</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_camera_video</string>
		<key>title</key>
		<string>短视频</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_transfer</string>
		<key>title</key>
		<string>转账</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_freeaudio</string>
		<key>title</key>
		<string>QQ电话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_favorite</string>
		<key>title</key>
		<string>收藏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_video</string>
		<key>title</key>
		<string>视频电话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_folder</string>
		<key>title</key>
		<string>文件</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_location</string>
		<key>title</key>
		<string>位置</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_doodle</string>
		<key>title</key>
		<string>悄悄话</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_music</string>
		<key>title</key>
		<string>音乐</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_shake</string>
		<key>title</key>
		<string>抖一抖</string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_togetherplay</string>
		<key>title</key>
		<string>名片</string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>title</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>aio_icons_remind</string>
		<key>title</key>
		<string>提醒</string>
	</dict>
</array>
</plist>
